.rounded-logo {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the image rounded */
}


.nav-link {
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Lighten background on hover */
}
    